
.card {
  position: relative;
  width: fit-content;
  height: fit-content;
  background-color:#000;
   
  justify-content:center;
  padding: 12px;
  gap: 12px;
  border:2px solid rgb(145, 225, 188);
  border-radius: 8px;
  cursor: pointer;
  color:white;
}


body{
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
}
.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 14px;
}

.headers{
  text-transform: uppercase;
  text-align: center;
}